<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Vital.Properties.Settings.vitalConnectionString" connectionString="server=localhost;User Id=root;password=infit;Persist Security Info=True;database=vital"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>